.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: dodgerblue;
}
nav button {
  height: 100%;
  width: 6%;
  padding: 0.5%;
  border-radius: 6px;
  font-size: 0.75rem;
  font-weight: bold;
  background-color: rgb(159, 149, 250);
  border: 1px solid rgb(159, 149, 250);
}

.dark-mode {
  background-color: rgb(83, 83, 83);
  color: white;
}

.players-container {
  display: flex;
  flex-flow: row wrap;
}
